{
  "schema": "iglu:com.snowplowanalytics.iglu/resolver-config/jsonschema/1-0-1",
  "data": {
    "cacheSize": 500,
    "cacheTtl": 600,
    "repositories": [
      {
        "name": "Metadata schemas",
        "priority": 0,
        "vendorPrefixes": [ "com.algebraai.gametuner" ],
        "connection": {
          "http": {
            "uri": "${metadata_schemas_url}"
          }
        }
      },
      {
          "name": "Common schemas",
          "priority": 0,
          "vendorPrefixes": [ "com.snowplowanalytics" ],
          "connection": {
            "http": {
              "uri": "${metadata_schemas_url}"
            }
          }
       }
    ]
  }
}